@{
    ViewData["Title"] = "Group training";
}

<h1 class="text-center">Group training</h1>
@await Html.PartialAsync("_AlertMessage")
<div class="container mt-4 vh-100">
    <div class="table-responsive" style="max-height: calc(100vh - 250px); overflow-y: auto;">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Topic</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Date</th>
                    <th>Capacity</th>
                    <th>Coach</th>
                    <th>Gym hall</th>
                    <th>Customer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var sc in Model)
                    {
                        <tr>
                            <td>@sc.Id</td>
                            <td>@sc.Title</td>
                            <td>@sc.StartTime</td>
                            <td>@sc.EndTime</td>
                            <td>@sc.Date.ToShortDateString()</td>
                            <td>@sc.Capacity</td>
                            <td>@sc.CoachOne.User.UserName</td>
                            <td>@sc.GymHallOne.Name</td>
                            <td>
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#customerList-@sc.Id">
                                    View Customers (@sc.Customers.Count)
                                </button>
                                <div id="customerList-@sc.Id" class="collapse mt-2">
                                    @foreach (var ca in sc.Customers)
                                    {
                                        <p class="mb-1">@ca.User.UserName</p>
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="d-flex gap-2">
                                    <form asp-controller="Service" asp-action="Join" asp-route-id="@sc.Id" method="post" >
                                        <button type="submit" class="btn btn-outline-warning text-dark btn-sm">Join</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>