@{
    ViewData["Title"] = "Appointment";
}

<h1 class="text-center">Appointment Management</h1>

<div class="container mt-4">
    <a asp-controller="Appointment" asp-action="Create" class="btn btn-primary mb-3"> Add Appointment </a>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Topic</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Date</th>
                <th>Coach</th>
                <th>Gym hall</th>
                <th>Customer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var sc in Model)
                {
                    <tr>
                        <td>@sc.Id</td>
                        <td>@sc.Title</td>
                        <td>@sc.StartTime</td>
                        <td>@sc.EndTime</td>
                        <td>@sc.Date.ToShortDateString()</td>
                        <td>@sc.Coach.User.UserName</td>
                        <td>@sc.GymHall.Name</td>
                        <td>@sc.Customer.User.UserName</td>
                        <td>
                            <div class="d-flex gap-2">
                                <a asp-controller="Appointment" asp-action="Update" asp-route-id="@sc.Id" class="btn btn-warning btn-sm"> Update </a>
                                <form asp-action="Delete" method="post" class="d-inline-block" onsubmit="return confirmDelete()">
                                    <input type="hidden" name="id" value="@sc.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm"> Delete </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>